.Header {
    width: 100%;
    height: 94px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4.9px 0px #B6D0DC40;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}

.Header_Box {
    width: 1200px;
    height: 94px;
    background-color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 538px;
}

.Header_Title {
    width: 106px !important;
    height: 94px;
    font-family: 'ghanachoco';
    font-size: 36px;
    color: #3AC581;
    white-space: nowrap;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_Category {
    height: 94px;
    display: flex;
    align-items: center;
}

.Header_NavItem {
    font-family: 'Pretendard-SemiBold';
    font-size: 22px;
    color: #2C2F33;
    white-space: nowrap;
    cursor: pointer;
}

.profileImg1 {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.userNickname {
    font-family: 'Pretendard-SemiBold';
    font-size: 20px;
    color: #2C2F33;
}

.userEmail {
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    color: #656B70;
}

.dropdown1 {
    width: 14px;
    height: 8px;
}

#recommand {
    margin-left: 102px;
}

#auth {
    width: 183px;
    height: 54px;
    border: 2px solid #E7ECF1;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 83px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#userInfo {
    width: 183px;
    margin-left: 123px;
    display: flex;
    align-items: center;
    gap: 11px;
}


/*사용자 메뉴*/

.Header_UserMenu {
    position: relative;
    z-index: 9999;
    width: 1200px;
    height: 152px;
    height: 100%;
}

.Header_UserMenuBox {
    position: absolute;
    top: 17px;
    right: 0;
    width: 331px;
    height: 152px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 11px 12px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-shadow: 0px 0px 8px 0px #8B94A340;  
}

.Header_UserMenu_UserInfo {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 7px;
    margin-top: 7px;
}

.profileImg2 {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
}

.userNickname_Email {
    display: flex;
    flex-direction: column;
}

.Header_UserMenu_NavBox {
    display: flex;
    align-self: center;
    gap: 8px;
    margin-top: 10px;
}

.Header_UserMenu_NavItems {
    width: 104px;
    height: 39px;
    border-radius: 8px;
    border: none;
    background-color: #F3F5F7;
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    color: #2C2F33;
}